{% capture _slug %}{% assign crap = rss-item.slug | truncate: 20, '' %}/{{ rss-item.date | date: '%Y' }}/{{ rss-item.date | date: '%m' }}/{{ rss-item.date | date:'%d' }}/{{ rss-item.slug | remove: crap }}{% endcapture %}

<item>
	<title>{{ rss-item.title | html_encode }}</title>
	{% if rss-item.external %}
	<link>{{ rss-item.external.url }}</link>
	<guid>{{ rss-item.external.url }}</guid>
	{% else %}
	<link>{{ global.domain }}{{ _slug }}</link>
	<guid>{{ _slug }}</guid>
	{% endif %}
	{% for category in rss-item.categories %}
	<category>{{ category | html_encode }}</category>
	{% endfor %}
	<pubDate>{{ rss-item.date | date:'%a, %d %b %Y %H:%M:%S GMT'}}</pubDate>
	<description>{{ rss-item.body | html_encode }}</description>
</item>
